**Class 1**

In [ ]:
# Creating a variable
# Int
Num1=324
print(Num1)
print(type(Num1))


# Float
Num2=13.344
print(Num2)
print(type(Num2))

# String
name='John'
print(name)
print(type(name))

# Boolean
print(10<9)

324
<class 'int'>
13.344
<class 'float'>
John
<class 'str'>
False

In [ ]:
a=10
b=20
print(a>b)

False

In [ ]:
num1=1324
num2=1324.6
sum=num1+num2
# Concatenation
print("The addition of two values are",sum)
print(round(sum))

The addition of two values are 2648.6
2649

In [ ]:
diff = num1 - num2
print(diff)

prod = num1*num2
print(prod)

quot = num1/num2
print(quot)

-0.2999999999999545
1753373.2
0.9997734652269124

In [ ]:
num3=float(input("Enter the first number:"))
num4=float(input("Enter the second number:"))
print("The sum of two numbers are",(num3+num4))

Enter the first number:1
Enter the second number:1
The sum of two numbers are 2.0

In [ ]:
name1="Jerry"
print("My favorite cartoon name is",name1)

My favorite cartoon name is Jerry